$font-family: 'Bangers', cursive;
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
$color: blanco;
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@mixin buttonHover{
  background-color: black;
  color: wheat;
}

h1 {
  @if ($color == blanco){
    color: white;
  } @else if ($color == naranja) {
    color: coral;
  }
}

h3 {
  @if ($color == blanco){
    color: white;
  }
}


body{
    background-image: url('https://images.pexels.com/photos/1959052/pexels-photo-1959052.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  
}
// mapa seccion sucursal //
.mapa{
width: 100%;
}
.mapa iframe {
  width: 70%;
}

#listaMenu{
    
    align-items: center;
    font-family: $font-family;
    margin: auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;

    div{
      background-color: none;
      margin: auto;
    }
    li{
        padding: 10px 10px 10px 10px;
        width: 100%;
        list-style: none;
        margin-left: 20px;

        }
    li a{
        background-color: blanchedalmond;
        text-decoration: none;
        color: black;
        padding: 5px;
        border-radius: 20px;
        font-size: 20px;
        
    }
     li a:hover {
@include buttonHover  
  }
}




#barra{
    background-color: rgba(0, 0, 0, 0.185);
    #barra div a{
      color: white;
      font-family: 'Teko', sans-serif;
      font-size: 4vh;

      #barra div form{
        font-family: 'Pacifico', cursive;}
    }
  }
  




.formularioPromocion{
    height: 300px;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: $font-family;
}
.formularioPromocion div input{
  width: 300px;
}
/* FOOTER */
#footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3a60733d, #16222A);
    color: white;
    margin-top:100px;
    position: relative;
    bottom: 0;
    width: 100%;
     a {
      font-family: $font-family;
      color: rgb(255, 255, 255);
      font-size: 14px;
      transition-duration: 0.2s;
      
    }
     a:hover {
      background-color: blanchedalmond;
      text-decoration: none;
      color: black;
      padding: 5px;
      border-radius: 20px;
      font-size: 20px;
      @include buttonHover()
    }
    .footer-middle {
      padding-top: 2em;
      color: white;
    }
    footer div a img{
      width: 40px;
      height: 40px;
  }
  }
  /*TERMINA FOOTER*/

  

#textoProductos{
    color: whitesmoke;
    text-align: center;
    font-family: 'Staatliches', cursive;
    letter-spacing: 10px;
   
}


  .sucursal{
    font-family: 'Staatliches', cursive;
    word-spacing: 10px;
    letter-spacing: 10px;
    color: white;
  }
  

  .textoAccesorios{
     color: white;
     font-family: 'Staatliches', cursive;
     word-spacing: 20px;
  }


  .textoProm{
      color: white;
  }

  #tablaProducto{
    width: 100%;
    margin-left: 35%;
}

.tabla{
    
    font-family: $font-family;
}
.tabla tr td{
    text-align: center;
    width: 100px;
    height: 100px;
}

.tabla tr td img{
  width: 100px;
  height: 100px;
}
.tabla tr th{
  text-align: center;
}



  #tablaAccesorios{
    width: 100%;
    margin-left: 35%;
  }
  .accesorios{
      background-color: rgba(255, 255, 255, 0.288);
      font-family: $font-family;

      .accesorios tr td{
        text-align: center;
        width: 100px;
        height: 100px;
      }
      .accesorios tr td img{
        width: 100px;
        height: 100px;
      }
      
  }




.listaDesplegable{
    display: block;
    text-decoration: none;
    background-color: black;
}

.padreFlex{
display: flex;
flex-direction: column;
}


.lorem{
    width: 100%;
    color: blanchedalmond;
}

.textoBienvenida {
  color: white;
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: 30px;
  letter-spacing: 10px;
  margin: auto;
  width: 100%;
  margin-top: 200px;
  height: 200px;
  min-height: 60vh;
}
/*video quienes somos*/
.global{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.quienSomos{
  background-color: rgba(0, 0, 0, 0.356);
  padding: 10px;
  border-radius: 10px;
}
#videoQuienesSomos{
  display: flex;
  align-items: left;
}

/*tabla de productos*/
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-family: $font-family;
  }
  .table-row {
    background-color: #ffffff8c;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 10%;
    font-family: 'Lilita One', cursive;
    color: black;
  }
  .col-2 {
    flex-basis: 40%;
    color: black;
    font-family: 'Lilita One', cursive;
  }
  .col-3 {
    flex-basis: 25%;
    color: black;
    font-family: 'Lilita One', cursive;
  }
  .col-4 {
    flex-basis: 25%;
    color: black;
    font-family: 'Lilita One', cursive;
  }
  
  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }

    li {
      display: block;
    }
    .col {
      
      flex-basis: 100%;
      
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
 

   
}

@media only screen and (min-width: 1024px) {
.textoBienvenida {
  font-size: 10vh;
}
}

